.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  